/*包裹自定义分页器的div的位置等CSS样式*/
.swiper-pagination-custom {
  bottom: 10px;
  left: 0;
  width: 100%;
}
/*自定义分页器的样式，这个你自己想要什么样子自己写*/
.swiper-pagination-customs {
  width: 30px;
  height: 4px;
  display: inline-block;
  background: #000;
  opacity: .3;
  margin: 0 5px;
}
/*自定义分页器激活时的样式表现*/
.swiper-pagination-customs-active {
  opacity: 1;
  background-color: #F78E00;
}
